# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "*"
        versions: ["*-alpha*", "*-beta*", "*-rc*", "*-SNAPSHOT*", "*-dev*"]

    groups:
      all-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "gradle"
    directory: "/build-logic"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5

    ignore:
      - dependency-name: "*"
        versions: ["*-alpha*", "*-beta*", "*-rc*", "*-SNAPSHOT*", "*-dev*"]

    groups:
      build-logic-dependencies:
        patterns:
          - "*"
