build:
  maxIssues: 0
  excludeCorrectable: false
  weights:

complexity:
  active: true
  TooManyFunctions:
    active: true
    thresholdInFiles: 20
  LongMethod:
    active: true
    threshold: 60
  LargeClass:
    active: true
    threshold: 300
  CyclomaticComplexMethod:
    active: true
    threshold: 15

naming:
  active: true
  FunctionNaming:
    active: true
    ignoreAnnotated: ['Composable']
    functionPattern: '[a-z][a-zA-Z0-9]*'
    excludeClassPattern: '.*Test'
  VariableNaming:
    active: true
    variablePattern: '[a-z][a-zA-Z0-9]*'
  ClassNaming:
    active: true
    classPattern: '[A-Z][a-zA-Z0-9]*'

style:
  active: true
  MagicNumber:
    active: true
    ignoreNumbers: ['-1', '0', '1', '2']
    ignoreHashCodeFunction: true
    ignorePropertyDeclaration: true
    ignoreEnums: true
  UnusedImports:
    active: true
  WildcardImport:
    active: true

empty-blocks:
  active: true
  EmptyCatchBlock:
    active: true
    allowedExceptionNameRegex: '_|(ignore|expected).*'

potential-bugs:
  active: true
