name: Android CI/CD Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    branches: [ "main" ]
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create local.properties
        run: |
          echo "VERSION_NAME=${{ secrets.VERSION_NAME }}" >> local.properties
          echo "VERSION_CODE=${{ secrets.VERSION_CODE }}" >> local.properties
          echo "API_KEY=${{ secrets.API_KEY }}" >> local.properties
          echo "BASE_URL=${{ secrets.BASE_URL }}" >> local.properties
          echo "KEY_ALIAS=${{ secrets.KEY_ALIAS }}" >> local.properties
          echo "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}" >> local.properties
          echo "STORE_PASSWORD=${{ secrets.STORE_PASSWORD }}" >> local.properties

      - name: Upload local.properties artifact
        uses: actions/upload-artifact@v4
        with:
          name: local-properties
          path: local.properties

      - name: Decode google-services.json
        run: |
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 --decode > app/google-services.json

      - name: Upload google-services.json artifact
        uses: actions/upload-artifact@v4
        with:
          name: google-services.json
          path: app/google-services.json

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permissions
        run: |
          chmod +x ./gradlew
          chmod +x ./deploy.sh

      - name: Run Detekt
        run: ./gradlew detekt

      - name: Upload Detekt Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: detekt-report
          path: build/reports/detekt/

      - name: Run Unit Tests and Lint
        run: ./gradlew testDebugUnitTest lintDebug -Dlint.baselines.continue=true

  build_release:
    needs: build_and_test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      GITHUB_TOKEN: ${{ secrets.RELEASE_PAT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        id: version_bump
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          WITH_V: true

      - name: Set VERSION_NAME
        run: echo "VERSION_NAME=${{ steps.version_bump.outputs.new_tag }}" >> $GITHUB_ENV

      - name: Create local.properties
        run: |
          echo "VERSION_NAME=${{ env.VERSION_NAME }}" >> local.properties
          echo "VERSION_CODE=${{ secrets.VERSION_CODE }}" >> local.properties
          echo "API_KEY=${{ secrets.API_KEY }}" >> local.properties
          echo "BASE_URL=${{ secrets.BASE_URL }}" >> local.properties
          echo "KEY_ALIAS=${{ secrets.KEY_ALIAS }}" >> local.properties
          echo "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}" >> local.properties
          echo "STORE_PASSWORD=${{ secrets.STORE_PASSWORD }}" >> local.properties

      - name: Decode google-services.json
        run: |
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 --decode > app/google-services.json

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Decode Keystore
        run: echo "${{ secrets.RELEASE_KEYSTORE_BASE64 }}" | base64 --decode > app/release-keystore.jks

      - name: Build Release App Bundle
        run: ./gradlew bundleRelease

      - name: Push AAB to Private Repository
        env:
          API_TOKEN_GITHUB: ${{ secrets.RELEASE_PAT }}
          STORAGE_REPO: ${{ secrets.BINARY_STORAGE_REPO }}
        run: |
          git clone https://x-access-token:${{ env.API_TOKEN_GITHUB }}@github.com/${{ github.repository_owner }}/${{ env.STORAGE_REPO }}.git private_storage
          cp app/build/outputs/bundle/release/app-release.aab private_storage/app-release-${{ env.VERSION_NAME }}.aab
          cd private_storage
          git config user.name "GitHub Action CI/CD"
          git config user.email "actions@github.com"
          git add .
          if [ -z "$(git status --porcelain)" ]; then
            echo "No changes detected. Skipping commit and push."
          else
            git commit -m "Release build for ${{ env.VERSION_NAME }}"
            git push origin main
          fi

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION_NAME }}
          name: Release ${{ env.VERSION_NAME }}
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Auto-merge Pull Request
        if: github.event_name == 'pull_request' && success() &&
          (contains(github.event.pull_request.labels.*.name, 'automerge') ||
          contains(github.event.pull_request.title, 'automerge') ||
          contains(github.event.head_commit.message, 'automerge'))
        uses: pascalgn/automerge-action@v0.16.3
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PAT }}
          MERGE_METHOD: "merge"
          MERGE_COMMIT_MESSAGE: "Auto-merged by CI/CD: {pullRequest.title}"